/* Write your CSS here */
.container {
  background-color: #07080c;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  color: white;
}

.img {
  width: 70%;
}
.heading {
  color: white;
  font-style: italic;
  font-size: xx-large;
}
.description {
  color: #cbd5e1;
}
.btn-container {
  margin-top: 30px;
}
.button {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.accelerate-btn {
  background-color: #0b69ff;
  border-style: none;
  margin-right: 30px;
  color: white;
}
.break-btn {
  background-color: transparent;
  color: #94a3b8;
  border-style: solid;
  border-color: #94a3b8;
}
